/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Reset end */

/* Colors */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

/* Typography */
.header-1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.header-2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.header-3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.small-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.04em;
}

.body-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  text-align: center;
  font-family: inherit;
  cursor: pointer;
}
.button-text:hover,
.button-text:focus {
  background-color: var(--ocean);
}

.link-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

/* Body Style */
body {
  color: #434455;
  background-color: var(--white);
  font-family: Roboto, sans-serif;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* Del after */
  border: 3px solid green;
}

/* Hedder */
header {
  background-color: var(--white);
}

.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-studio-b {
  color: var(--navyblue);
}

.logo-studio-w {
  color: var(--cloud);
}

.nav-item {
  color: var(--navyblue);
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  color: var(--slate);
}
.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}

.contacts-item {
  color: var(--slate);
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--ocean);
}

/* Footer */
.footer {
  background-color: var(--navyblue);
}
.footer-desc {
  color: var(--cloud);
}

/* Studio */
.hero {
  background-color: var(--navyblue);
  color: var(--white);
  text-align: center;
}

.list-item {
  color: var(--navyblue);
}
.feature-desc {
  color: var(--slate);
}

.wawd-titel {
  color: var(--grey);
  text-align: center;
  columns: var(--navyblue);
}

.team {
  background-color: var(--cloud);
}

.team-list {
  text-align: center;
  color: var(--grey);
}

.team-item {
  background-color: var(--white);
}

.team-desc {
  color: var(--slate);
}

/* Portfolio */

.felter-item {
  color: var(--iris);
  background-color: var(--cloud);
}

.felter-item:hover,
.felter-item:focus {
  color: var(--white);
}

.portf-item {
  color: var(--grey);
}

.portf-desc {
  color: var(--slate);
}
