/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Reset end */

/* Colors */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

/* Typography */
.header-1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.header-2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.header-3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.body-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.small-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.04em;
}

.body-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  text-align: center;
  font-family: inherit;
  cursor: pointer;
}
.button-text:hover,
.button-text:focus {
  background-color: var(--ocean);
}

.link-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

/* Body Style */
body {
  color: #434455;
  background-color: var(--white);
  font-family: Roboto, sans-serif;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Hedder */
header {
  height: 72px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: inline-flex;
  justify-content: space-between;
}

nav {
  display: inline-flex;
  gap: 76px;
}

.nav {
  display: inline-flex;
  gap: 40px;
}

.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-studio-b {
  color: var(--navyblue);
}

.logo-studio-w {
  color: var(--cloud);
}

.nav-item {
  color: var(--navyblue);
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  color: var(--slate);
}
.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}

.contacts-list {
  display: inline-flex;
  flex-direction: row;
  gap: 40px;
}

.contacts-item {
  color: var(--slate);
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--ocean);
}

/* Footer */

footer {
  background-color: var(--navyblue);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 17.5px;
  padding: 100px 0;
}
.footer-desc {
  color: var(--cloud);
  width: 264px;
}

/* Studio */
.hero {
  background-color: var(--navyblue);
  color: var(--white);
  text-align: center;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.hero .header-1 {
  width: 496px;
  margin-top: 188px;
}

.hero .button-text {
  margin-bottom: 188px;
}

.list-item {
  color: var(--navyblue);
}

/* Section 2 */

.features {
  margin-bottom: 120px;
}

.feature-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  justify-content: space-between;
}

.feature-desc {
  color: var(--slate);
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-basis: calc((100% - 72px) / 4);
}

/* Section 3 */

.wawd {
  margin-bottom: 120px;
}

.wawd-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  justify-content: space-between;
}

.wawd-titel {
  color: var(--grey);
  text-align: center;
  columns: var(--navyblue);
  padding-bottom: 72px;
}

/* Section 4 */

.team {
  background-color: var(--cloud);
}

.team .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: space-evenly;
  padding: 120px 0;
}

.team-title {
  text-align: center;
  color: var(--grey);
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  justify-content: space-between;
}

.team-item {
  background-color: var(--white);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.card-cont {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 32px;
}

.team-desc {
  color: var(--slate);
}

/* Portfolio */

.felter-item {
  color: var(--iris);
  background-color: var(--cloud);
}

.felter-item:hover,
.felter-item:focus {
  color: var(--white);
}

.portf-item {
  color: var(--grey);
}

.portf-desc {
  color: var(--slate);
}
