/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Reset end */

/* Colors */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

/* Typography */
.header-one {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.header-two {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.header-three {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.body-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.small-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.04em;
}

.body-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  text-align: center;
  font-family: inherit;
  cursor: pointer;
}
.button-text:hover,
.button-text:focus {
  background-color: var(--ocean);
}

.link-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

/* Body Style */
body {
  color: #434455;
  background-color: var(--white);
  font-family: Roboto, sans-serif;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Hedder */
header {
  height: 72px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--cornflower);
}

.header .container {
  display: inline-flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.nav {
  display: inline-flex;
  gap: 40px;
}

.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-b {
  color: var(--navyblue);
}

.logo-studio-w {
  color: var(--cloud);
}

.nav-item {
  color: var(--navyblue);
  padding: 24px 0;
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  color: var(--slate);
  padding: 24px 0;
}
.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}

.contacts-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.contacts-item {
  color: var(--slate);
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--ocean);
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  gap: 17.5px;
  padding: 100px 0;
  background-color: var(--navyblue);
}
.footer-desc {
  color: var(--cloud);
  width: 264px;
}

/* Studio */
.hero {
  background-color: var(--navyblue);
  color: var(--white);
  text-align: center;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 188px 0;
}

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.hero-title {
  max-width: 496px;
}

.hero .button-text {
  min-width: 169px;
}

.list-item {
  color: var(--navyblue);
}

/* Section 2 */

.features {
  padding: 120px 0;
}

.feature-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  justify-content: space-between;
}

.feature-desc {
  color: var(--slate);
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 8px; */
  flex-basis: calc((100% - 72px) / 4);
}

.feature-name {
  margin-bottom: 8px;
}

/* Section 3 */

.wawd {
  padding-bottom: 120px;
}

.wawd-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  justify-content: space-between;
}

.wawd-titel {
  color: var(--grey);
  text-align: center;
  columns: var(--navyblue);
  margin-bottom: 72px;
}

.wawd-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* Section 4 */

.team {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team .container {
  display: flex;
  flex-direction: column;
  /* gap: 72px; */
  justify-content: space-evenly;
  padding: 120px 0;
}

.team-title {
  text-align: center;
  color: var(--grey);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  justify-content: space-between;
}

.team-item {
  background-color: var(--white);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 32px; */
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.card-cont {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 8px; */
  padding: 32px 0;
}

.cont-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-desc {
  color: var(--slate);
  text-align: center;
}

/* Portfolio */

.portfolio {
  padding: 96px 0 120px 0;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-top: 96px;
  margin-bottom: 72px;
}

.felter-item {
  color: var(--iris);
  background-color: var(--cloud);
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
}

.felter-item:hover,
.felter-item:focus {
  color: var(--white);
  border: 1px solid transparent;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  row-gap: 48px;
  column-gap: 24px;
  margin-bottom: 120px;
}

.portf-item {
  flex-basis: calc((100% - 48px) / 3);
  color: var(--grey);
  border: 1px solid var(--cornflower);
}

.portf-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 32px; */
  /* padding-bottom: 32px; */
}

.portf-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
}

.portf-name {
  margin-bottom: 8px;
}

.portf-desc {
  color: var(--slate);
}
